<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<div class="card">
    <h2>Sign Up</h2>
    <form method="post">
        <input name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">

        <select name="dept">
            <option>CSE</option>
            <option>ECE</option>
            <option>MECH</option>
            <option>CIVIL</option>
            <option>EEE</option>
        </select>

        <select name="role">
            <option value="student">Student</option>
            <option value="admin">Admin</option>
        </select>

        <button>Create Account</button>
    </form>
</div>

</body>
</html>
